# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output (it will be created inside Docker)
build/

# Logs
*.log
logs/
*.out

# Git
.git/
.gitignore

# Editor / System files
.DS_Store
.vscode/
.idea/

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Docker-related files
Dockerfile
.dockerignore
docker-compose.yml

# OS temp files
Thumbs.db
