name: Deploy React App to AWS ECR & EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # Checkout code
    - name: Checkout repository
      uses: actions/checkout@v3

    # Install Node and build React app
    - name: Set up Node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install --legacy-peer-deps

    - name: Build React project
      run: npm run build

    # Configure AWS credentials
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    # Login to ECR
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
      
    # Docker build, tag & push
    - name: Build, Tag, and Push image to ECR
      env:
        ECR_REGISTRY: 831926582395.dkr.ecr.us-east-1.amazonaws.com
        ECR_REPOSITORY: abhi-gift
        IMAGE_TAG: latest
      run: |
        docker build -t $ECR_REPOSITORY .
        docker tag $ECR_REPOSITORY:latest $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

    # SSH into EC2 and redeploy container
    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo docker stop abhi-gift || true
          sudo docker rm abhi-gift || true
          sudo docker pull 831926582395.dkr.ecr.us-east-1.amazonaws.com/abhi-gift:latest
          sudo docker run -d -p 80:80 --name abhi-gift 831926582395.dkr.ecr.us-east-1.amazonaws.com/abhi-gift:latest
